################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NET8Blazor/bin/Debug/net8.0
/NET8Blazor/obj
